h1, h2, h3, p {
    font-family: 'Luckiest Guy', cursive;
}
.logo{
    height: 60%;
    width: 60%;
    margin-top: 15%;
}
.titulo{
text-align: left;
margin-top: 8%;
}
#pag2{/*los id se llaman con #*/
  display: none;

}
#start{
  margin: 8%
}
.card{/* las clases las llamamos con puntos*/
    width: 300px;
    height: 300px;
    margin: 1em;
    background:#fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 1em;
}

.box{
    text-align: center;
}
.tituloPoke{
    margin-top: 8%;
}
.container-image{
    flex-flow: row wrap;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(86, 242, 247);

}
.pelota_rebote{
  background-color: rgb(86, 242, 247);
}

 /*efecto rebote pelota pokemon*/
.rebote img{
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-top: 100px;
  position: relative;
  -webkit-animation-name: rebote; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-name: rebote;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}
.rebote span{
  background-color: #2F2B2B;
  display: block;
  margin-top: -4px;
  height: 15px;
  width: 200px;
}
/* Standard syntax */
@keyframes rebote {/*La regla arroba @keyframes permite a los autores controlar los pasos intermedios en una secuencia de animación CSS mediante el establecimiento de keyframes (o puntos de trayectoria) a lo largo de la secuencia de animación que debe ser alcanzado por determinados puntos durante la animación. Esto le da un control más específico sobre los pasos intermedios de la secuencia de animación que se obtiene al dejar que el navegador maneje todo automáticamente.*/
  0%   {left:0px; top:0px;}
  25%  {left:0px; top:0px;}
  50%  {left:0px; top:-100px;}
  75%  {left:0px; top:-100px;}
  100% {left:0px; top:0px;}
}
/* Fin efecto rebote pelota pokemon*/
.start{
  margin-top: 10px;
  margin-left: 20%;
  background-color: #3D58E2;
  font-family: 'Luckiest Guy', cursive;
  
  

}
.intro{
  text-align: left;
  padding: 8%;

}
.filtro {
    background-image: url('img/whosthatpokemon_1349921665_7.jpg');
}
.menu{
    background-color: gray;
}
/* comienzo estilos del boton subir*/
.scrollToTop {
    outline: none;
    border: none;
    font-size: 10px;
    cursor: pointer;
    position: fixed;
    opacity: 0;
    z-index: 9999;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s, background 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s, background 0.3s;
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s, background 0.3s, -webkit-transform 0.3s;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 7px rgba(0, 0, 0, 0.25);
    bottom: 3px;
    right: 3px;
    padding: 3px;
    border-radius: 4px;
  }
  .scrollToTop svg {
    display: block;
  }
  .scrollToTop.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .scrollToTop svg {
    fill: #FFFFFF;
  }
  .scrollToTop:hover {
    background-color: rgba(0, 0, 0, 0.95);
  }

/* fin de estilos boton subir*/
.carta-box {
  margin-top: 30px;
  width: 300px;
  height: 250px;
  position: relative;
  perspective: 1000px;
  border: 5px;
  border-color: black;
  background-color: rgb(86, 242, 247);
}

.carta-box:hover .carta {
    transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  width: 300px;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
  border-color: black;
  border: 5px;
  background-image: url('img/whosthatpokemon_1349921665_7.jpg');
  width: 300px;
  height: 250px;
  text-align: center;

}

.cara.detras {
  transform: rotateY(180deg);
} 
.pokeinfo{
  text-align: left;
}
/*.poke{
  background-image: url('img/depositphotos_120226496-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: 500px;
}*/
