h1, h2, h3, p {
    font-family: 'Luckiest Guy', cursive;
}
.logo{
    height: 60%;
    width: 60%;
    margin-top: 15%;
}
.titulo{
text-align: left;
margin-top: 8%;
}
.card{
    width: 300px;
    height: 300px;
    margin: 1em;
    background:#fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 1em;
}

.box{
    text-align: center;
}
.tituloPoke{
    margin-top: 8%;
}
.container-fluid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: rgb(86, 242, 247);

}
.pelota_rebote{
  background-color: rgb(86, 242, 247);

}
.start{
  margin-left: 20%;
  background-color: #3D58E2;
  font-family: 'Luckiest Guy', cursive;
  margin-top: 10px;
  

}
.intro{
  text-align: center;
  padding: 8%;

}
.filtro{
    background-color: rgb(247, 120, 190);
}
.menu{
    background-color: gray;
}
/* comienzo estilos del boton subir*/
.scrollToTop {
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    position: fixed;
    opacity: 0;
    z-index: 9999;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s, background 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s, background 0.3s;
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s, background 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateY(-2em);
            transform: translateY(-2em);
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 7px rgba(0, 0, 0, 0.25);
    bottom: 1em;
    right: 1em;
    padding: 0.5em;
    border-radius: 4px;
  }
  .scrollToTop svg {
    display: block;
  }
  .scrollToTop.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .scrollToTop svg {
    fill: #FFFFFF;
  }
  .scrollToTop:hover {
    background-color: rgba(0, 0, 0, 0.95);
  }

/* fin de estilos boton subir*/
.carta-box {
  margin-top: 30px;
  width: 300px;
  height: 250px;
  position: relative;
  perspective: 1000px;
  border: 5px;
  border-color: black;
  background-color: rgb(86, 242, 247);
}

.carta-box:hover .carta {
    transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  width: 300px;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
  border-color: black;
  border: 5px;
    background-color: rgb(230, 205, 230);
  width: 300px;
  height: 250px;
  text-align: center;

}

.cara.detras {
  transform: rotateY(180deg);
} 