h1, h2, h3, p {
    font-family: 'Luckiest Guy', cursive;
}
.logo{
    height: 60%;
    width: 60%;
    margin-top: 15%;
}
.titulo{
<<<<<<< Updated upstream
    text-align: left;
    margin-top: 8%;
=======
text-align: left;
margin-top: 8%;
>>>>>>> Stashed changes
}